:root {
  background-color: cornsilk;
  box-shadow: 0 0.4rem 1.4rem orange;
  transition: transform 150ms;
  transform: scale(1.03);
}

body {
  font-size: 25px;
  font-family: "hind siliguri";
  color: purple;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  background-color: white;
  padding: 1.5em;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 1.4rem orange;
}

h1 {
  text-shadow: 2px 2px black;
}

.container {
  width: auto;
  height: auto;
  background-color: cornsilk;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 0 10px 2px;
  margin: auto;
  transition: transform 150ms;
  transform: scale(1.03);
}

.button-grid {
  display: grid;
  gap: 5px;
  margin: 10px 0;
}

button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: orange;
  color: black;
  border: 15px;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 15px;
  width: auto;
}

button:hover {
  background-color: yellowgreen;
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem orange;
  transition: transform 150ms;
  transform: scale(1.03);
}

.start-btn .next.btn {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: orange;
  color: black;
  border: 15px;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 15px;
  width: auto;
}

.question-container {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: orange;
  color: black;
  border: 15px;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 15px;
  width: auto;
}
#question-container {
  display: none;
}

.answer-buttons {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: orange;
  color: black;
  border: 15px;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 15px;
  width: auto;
}

.highscore-btn {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: yellowgreen;
  color: black;
  border: 15px;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 15px;
  width: auto;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}
